<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlindemoappproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinDemoAppProject">
        <activity android:name=".project.mvvm.PhotoListActivity"></activity>
        <activity android:name=".project.mvvm.HomeListActivity" />
        <activity android:name=".project.BaseActivity" />
        <activity android:name=".project.rxretroftrecycler.ShowActorsActivity" />
        <activity android:name=".project.sigletonproj.SinglTonclasssActivity" />
        <activity android:name=".project.staticdatarecycler.StaticDataRecyclerActivity" />
        <activity android:name=".project.HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>